<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Interventions</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<body>
	<div id="main">
		<div id="flex-style">
			<div class="element" id="formulaire">
				<h1>Declarer une intervention</h1>
				<form method="post" id="form" v-on:submit.prevent="onSubmit">
					<div>
						<label for="id">ID :</label>
						<input type="text" id="id" v-model="row.id"></input>
					</div>
					<div>
						<label for="titre">Titre :</label>
						<input type="text" id="titre" v-model="row.titre"></input>
					</div>
					<div>
						<label for="resume">Resume :</label>
						<textarea id="resume" v-model="row.resume"></textarea>
					</div>
					<div>
						<label for="affectation">Affectation :</label>
						<select name="affectation" id="affectation" v-model="row.affectation">
							<option value="Choisir" selected="selected">Choisir</option>
							<option value="Francis">Francis</option>
							<option value="Jean">Jean</option>
							<option value="Bernard">Bernard</option>
						</select>
					</div>
					<div>
						<label for="client">Client :</label>
						<input type="text" id="client" v-model="row.client"></input>
					</div>
					<div>
						<label for="etat">Etat :</label>
						<select name="etat" id="etat" v-model="row.etat">
							<option value="Choisir" selected="selected">Choisir</option>
							<option value="Enregistre">Enregistrée</option>
							<option value="En cours">En cours</option>
							<option value="Termine">Terminée</option>
						</select>
					</div>
					<input type="submit" @click="addRow" value="Enregistrer" />
					<input type="submit" @click="removeRow" value="Supprimer" />
				</form>
			</div>
			<div class="element" id="tableau">
				<table id="tab">
					<caption>
						Liste des interventions
					</caption>
					<thead>
						<tr>
							<th v-for="col in columns" v-on:click="sortTable(col)">{{col}}
								<div class="arrow" v-if="col == sortColumn" v-bind:class="[ascending ? 'arrow_up' : 'arrow_down']"></div>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="row in get_rows()">
							<td v-for="col in columns">{{row[col]}}</td>
						</tr>
					</tbody>
				</table>
				<div class="pagination">
					<div class="number" v-for="i in num_pages()" v-bind:class="[i == currentPage ? 'active' : '']" v-on:click="change_page(i)">{{i}}</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
	<script type="text/javascript" src="javascript.js"></script>
	
</body>

</html>
