<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Interventions</title>
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>

<body>
	<div id="main">
		<div id="flex-style">
			<div class="element" id="formulaire">
				<h1>Declarer une intervention</h1>
				<form method="post" id="form" v-on:submit.prevent="onSubmit">
					<div>
						<label for="id">ID :</label>
						<input type="text" id="id" v-model="row.id"></input>
					</div>
					<div>
						<label for="titre">Titre :</label>
						<input type="text" id="titre" v-model="row.titre"></input>
					</div>
					<div>
						<label for="resume">Resume :</label>
						<textarea id="resume" v-model="row.resume"></textarea>
					</div>
					<div>
						<label for="affectation">Affectation :</label>
						<select name="affectation" id="affectation" v-model="row.affectation">
							<option disabled value="">Choisissez</option>
							<option value="Francis">Francis</option>
							<option value="Jean">Jean</option>
							<option value="Bernard">Bernard</option>
						</select>
					</div>
					<div>
						<label for="client">Client :</label>
						<input type="text" id="client" v-model="row.client"></input>
					</div>
					<div>
						<label for="etat">Etat :</label>
						<select name="etat" id="etat" v-model="row.etat">
							<option disabled value="">Choisissez</option>
							<option value="Enregistre">Enregistrée</option>
							<option value="En cours">En cours</option>
							<option value="Termine">Terminée</option>
						</select>
					</div>
					<div>
						<label for="details">Details :</label>
						<textarea id="details" v-model="row.details"></textarea>
					</div>
					<input type="submit" @click="addRow" value="Enregistrer" />
					<input type="submit" @click="removeRow" value="Supprimer" />
				</form>
			</div>
			<div class="element" id="tableau">
				<form id="search">
					Recherche :
					<input type="text" v-model="searchString" placeholder="Ecrire votre recherche..." />
				</form>
				<table id="tab">
					<caption>
						Liste des interventions
					</caption>
					<thead>
						<tr>
							<th>Sel.</th>
							<th v-for="col in columns" v-on:click="sortTable(col)">{{col}}
								<div class="arrow" v-if="col == sortColumn" v-bind:class="[ascending ? 'arrow_up' : 'arrow_down']"></div>
							</th>
							<th>Details</th>
							<th>Suppr.</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(row, index) in get_rows()">
							<td>
								<input type="checkbox" @click="rows[index].del = !rows[index].del" :checked="rows[index].del" />
							</td>
							<td v-for="col in columns">{{row[col]}}</td>
							<td>
								<div id="app">
									<button id="show-modal" @click="showModal = true">Details</button>
									<modal v-if="showModal" @close="showModal = false"></modal>
								</div>
							</td>
							<td>
								<input type="image" name="supprimer" src="/Button1.jpg" border="0" alt="Submit" @click="removeThisRow(index)" />
							</td>
						</tr>
					</tbody>
				</table>
				<div class="pagination">
					<div id="selligne">
						<label>Nombre de lignes :</label>
						<select v-model="elementsPerPage" @change="resPage">
							<option disabled value="">Choisissez</option>
							<option v-for="n in elementsPerPageOptions" :value="n">{{n}}</option>
						</select>
					</div>
					<div class="number" v-for="i in num_pages()" v-bind:class="[i == currentPage ? 'active' : '']" v-on:click="change_page(i)">{{i}}</div>
				</div>
			</div>
		</div>
		</section>
	</div>
	<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
	<script type="text/javascript" src="javascript.js"></script>
	<!-- template for the modal component -->
	<script type="text/x-template" id="modal-template">
	<transition name="modal">
	  <div class="modal-mask">
		<div class="modal-wrapper">
		  <div class="modal-container">
			<div class="modal-header">
			  <slot name="header"></slot>
			</div>
			<div class="modal-body">
			  <slot name="body">
					<slot name="title"></slot>
			  </slot>
			</div>
  
			<div class="modal-footer">
			  <slot name="footer">
				Details de l'intervention
				<button class="modal-default-button" @click="$emit('close')">
				  OK
				</button>
			  </slot>
			</div>
		  </div>
		</div>
	  </div>
	</transition>
  </script>
</body>

</html>